/*** El body en dialog aplica un margin. **/
body{
  margin:0px;
}

/****  cabecera *****/
/** Para el growl . **/
.ui-growl-item-container{
	opacity: 1 !important;
}

/* para que salga fresa la cabecera */
.header-color, .ui-dialog-titlebar {background-color: #CC073C;}
#header,#header > div {background-color: transparent;padding:0px}

/*para que se ajuste el menu de la cabecera al tamaño de la celda*/
.botonera-menu {width:100% !important;}

/* para que no se parta el texto de los menus de la cabecera */
#header .ui-menubar ul.ui-menu-child {white-space: nowrap; width: auto !important;}

.ui-menu .ui-menuitem-text {white-space: nowrap !important;}

/* para que el menu de la cabecera salga por encima  */
#header, #header > div, #footer, #footer > div  {
    z-index:20 !important;
    overflow:visible !important;
}

/* ajustamos los colores del menu para que sean blanco el texto y los iconos*/
#header .ui-menu-parent > a > span,.titulo-color {font-weight: bold;color: #ffffff;}

.titulo-color {
	font-size:22pt;
	white-space: nowrap;
}

#header .ui-menu-parent .ui-submenu-link .ui-icon {background-image: url(#{resource["primefaces-custom:images/ui-icons_ffffff_256x240.png"]});}

/* quitamos los iconos de los submenus del menu de la cabecera*/
#header .ui-menu-parent .ui-menu-child .ui-icon {display:none !important;}

/* para que no se monte el icono del menu con el texto */
.ui-menu .ui-icon {position:relative !important;left:0px !important;}

/* ajustamos el texto del menu de boton "opciones" ya que sale mas grande que el resto*/
.menuOpciones {width:auto !important;}

/* ajustamos en la cabecera el icono del menu de boton "opciones" */
#header .ui-menubar, #header .ui-menubutton {float:right !important;}

/****  fin cabecera *****/

/*color gris para el cuerpo de la pantalla y el pie*/
#footer, #footer > div,.grid-nobgcolor, .body-color, #work, #work > .ui-layout-unit-content,
#breadDefinicionVersionLayout .ui-layout-unit-content,.logo-color  {background-color: #f0f0f0;border:0pt none;overflow:hidden;}

.logo-color {border-left:10px solid #CC073C !important;}

/* para que salga en verde el fondo del entorno*/
/* .grid-entorno {width:100%;font-size: 1.1em;font-weight: bold;background-color: #abf8b3;} */


/* fondo del titulo de la pantalla*/
#work .ui-layout-unit-header {background-color:#726f6b;color: #ffffff;text-align:center;font-size: 14pt;}

/* ajuste del cuerpo de la pantalla para meterlo un poco para dentro*/
#work {padding-left:0.5% !important;padding-right:0.5% !important;padding-top: 0 !important;}

/* color de la tabla */
.ui-datatable {background: white;}

.pie_celda1 {
    display:inline-block;
    vertical-align: top;
    padding-right: 10px;
    }

/* alinear celdas en los panelgrid*/
.grid-left {text-align:left;}
.grid-center {text-align:center;}
.grid-right {text-align:right;}

.sin-bordes {border:0pt none !important;}

/* botonera dialogo */
.botonera {position:fixed !important;bottom:2px !important;width:98% !important;left:1% !important;}

/* color cabecera dialogo */
.ui-dialog-titlebar {height: 30px;}

/** Texto de la cabecera dialogo. **/
.ui-dialog-title {color: white; padding: 1px 0px 1px 0px;}

/** El icono de cerrar un dialog. **/
.ui-dialog-titlebar-icon { margin-top:10px;}

/* color scrollbar*/
.ui-scrollpanel-drag {border: 1px solid #b0b0b0!important;background: #c0c0c0!important;}

/* quitar? */
.tablaSinHeader thead {
    display:none;
}

/* pantalla de error*/
.error_panel_container {
  position: fixed;
  height: 100%;
  width: 100%;
}

.error_panel {
  position: absolute;
  left: 0;
  top: 15%;
  width: 100%;
  text-align: center;
}

.error_panel1 {
  display:inline-block;
  width: 5%;
  min-width: 70px;
}

.error_panel2,.error_code_panel2 {
  display:inline-block;
  width: 70%;
  vertical-align: top;
  text-align: left;
}

.error_panel3,.error_code_panel3 {
  display: block;
  width: 100%;
 }

.error_panel4 {
  display: block;
  width: 100%;
  height: 250px;
  min-width: 500px;
}

.error_button {
  display: block;
  width: 100%;
  text-align: center;
  padding-top:2%;
}

.error_texto_titulo {
  font-weight: bold;
  font-size: 105% !important;
}


.error_code_panel2 {width:30% !important}
.error_code_panel3 {padding-bottom:1%;}


.w5 {
  width: 5% !important;
}

.w8 {
  width: 8% !important;
}

.w10 {
  width: 10% !important;
}

.w15 {
  width: 15% !important;
}

.w20 {
  width: 20% !important;
}

.w25 {
  width: 25% !important;
}

.w30 {
  width: 30% !important;
}

.w33 {
  width: 33% !important;
}

.w34 {
  width: 34% !important;
}

.w35 {
  width: 35% !important;
}

.w40 {
  width: 40% !important;
}

.w45 {
  width: 45% !important;
}

.w50 {
  width: 50% !important;
}

.w55 {
  width: 55% !important;
}

.w60 {
  width: 60% !important;
}

.w65 {
  width: 65% !important;
}

.w66 {
  width: 66% !important;
}

.w70 {
  width: 70% !important;
}

.w75 {
  width: 75% !important;
}

.w80 {
  width: 80% !important;
}

.w85 {
  width: 85% !important;
}

.w90 {
  width: 90% !important;
}

.w95 {
  width: 95% !important;
}

.w100 {
  width: 100% !important;
}

.wpx10{
	 width: 10px !important;
}

.wpx25{
	 width: 25px !important;
}

.wpx50{
	 width: 50px !important;
}

.wpx75{
	 width: 75px !important;
}

.wpx100{
	 width: 100px !important;
}

.wpx120{
	 width: 120px !important;
}

.wpx150{
	 width: 150px !important;
}

.wpx200{
	 width: 200px !important;
}

.wpx250{
	 width: 250px !important;
}

.wpx280{
	 width: 280px !important;
}

.wpx300{
	 width: 300px !important;
}

.wpx350{
	 width: 350px !important;
}
.h80{
  height: 80% !important;
}


.h90{
  height: 90% !important;
}

.h100{
  height: 100% !important;
}

.va-middle{
  vertical-align:middle;
}

.va-top{
  vertical-align:top;
}

.center-vertical {
	display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.noBorders tr, .noBorders td {
    background: none !important;
    border: none !important;
}

.noPadding-left, .noPadding-left tr, .noPadding-left td {
    padding-left: 0px !important;
}

.noPadding-right, .noPadding-right tr, .noPadding-right td {
    padding-right: 0px !important;
}

.noPadding-bottom {
  padding-bottom: 0px !important;
}

.noPadding-top {
  padding-top: 0px !important;
}

.noPadding {
     padding: 0px !important;
}

.padding8 {
     padding: 0.8em !important;
}

.padding-logo-8 {
	 padding-top: 0.8em !important;
	 padding-left: 0.8em !important;
	 padding-right: 0.8em !important;
}

.padding-top-8 {
     padding-top: 0.8em !important;
}

.padding-left-4 {
     padding-left: 0.4em !important;
}

.padding-left-5 {
     padding-left: 0.5em !important;
}

.padding-left-6 {
     padding-left: 0.6em !important;
}

.padding-left-7 {
     padding-left: 0.7em !important;
}

.padding-left-8 {
     padding-left: 0.8em !important;
}

.padding-left-10 {
     padding-left: 1.0em !important;
}

.padding-left-11 {
     padding-left: 1.1em !important;
}

.padding-left-12 {
     padding-left: 1.2em !important;
}

.padding-left-18 {
     padding-left: 1.8em !important;
}

.padding-right-8 {
     padding-right: 0.8em !important;
}

.padding-right-18 {
     padding-right: 1.8em !important;
}

.noMargin {
     margin: 0px !important;
}

.margin-top-3 {
	margin-top: 0.3em !important;
}

.margin-top-10 {
	margin-top: 10px !important;
}

.margin-bottom-3 {
	margin-bottom: 0.3em !important;
}

.margin-bottom-10 {
	margin-bottom: 10px !important;
}

.margin-right-3 {
	margin-right: 0.3em !important;
}

.margin-right-10 {
	margin-right: 10px !important;
}

.margin-right-20 {
	margin-right: 20px !important;
}

.margin-right-25 {
	margin-right: 25px !important;
}

.margin-left-3 {
	margin-left: 0.3em !important;
}

.margin-left-10 {
	margin-left: 10px !important;
}

.margin-left-25 {
	margin-left: 25px !important;
}

.noBackground,.noBackground div {
   background: none !important;
}

.ui-breadcrumb {font-size: 8pt !important;}
.ui-breadcrumb a:link{text-decoration:none !important;}

.boton-azul {
  border: 1px solid #003eff !important ;
  background: #007fff !important;
  font-weight: normal !important;
  color: #ffffff !important;
}

.boton-azul:hover  {
  border: 1px solid #003eff !important ;
  background: #006fdd !important;
  font-weight: normal !important;
  color: #ffffff !important;
}

.boton-rojo {
  border: 1px solid #ff0000 !important ;
  background: #ff8080 !important;
  font-weight: normal !important;
  color: #ffffff !important;
}

.boton-rojo:hover  {
  border: 1px solid #ff0000 !important ;
  background: #ff8080 !important;
  font-weight: normal !important;
  color: #ffffff !important;
}

.boton-con-datos {
  color: #59ACFF !important;
}

/* que el deshabilitado se vea un poco mas*/
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  opacity: .65;
  filter:Alpha(Opacity=65); /* support: IE8 */
  background-image: none;
}
.ui-state-disabled .ui-icon {
  filter:Alpha(Opacity=65); /* support: IE8 - See #6059 */
}

label.ui-state-disabled {
  opacity: 1 !important;
  filter:Alpha(Opacity=100)  !important; /* support: IE8 */
  background-image: none  !important;
}

/** fila par  en otro color**/
.ui-datatable-odd {
  background-color: #F2F5F9;
}

/** eliminar cabecera tabla**/
.hide-table-header thead {
    display: none;
}

.titulo_pasos {
	font-size: 11pt !important;
	padding-bottom: 1.0em !important;
	font-weight: bold;
}

.panel_izq {border-left:1px solid silver;padding-left:0.4em;}

.confirmar_botonera {float:right !important;}

.confirmar_icono {height: auto !important;width: auto !important;}

.confirmar_ancho {width:500px !important;}

.outputlabel-nota {font-size:9pt !important;font-style: italic;}

.formulario-frame {width:100%; height:590px; overflow:auto;border: none;}

.formulario-panel {border: solid 2px lightgrey }

.formulario-botonera, .formulario-botonera div{border: none !important; }

.barra-herramientas-disenyo > * {
	margin-right: 10px !important;
}

.barra-herramientas-vertical > * {
	margin-bottom: 5px !important;
}

.no-display {
	display: none;
}

/** Para cambiar el fondo a los inputs y se vea blanco. **/
/* .ui-inputfield ,.ui-chkbox-box > .ui-icon-blank{ */
/* 	background: white; */
/* } */

.CodeMirror {
	height: 450px !important;
}

.scriptRelleno span.fa-bolt{
	color:#007fff;
}

#dialogDisenyoFormulario\:componente-panel .ui-panel-content { padding-left: 5px !important; padding-right: 5px !important; }

#dialogDisenyoFormulario\:formDisenyoTextbox .ui-widget .ui-widget{font-size: 8pt !important;}

.imporTramitColumnaVT {
	padding-right:5px;
	text-align: left;
    width: 100px;
}

.rows-spacing{
	border-collapse: separate;
	border-spacing: 0px 10px;
}

.ayuda-frame {width:100%; height:500px; overflow:auto;border: none;}

/*
.ui-tree .ui-tree-selectable .ui-treenode-label, .ui-tree .ui-tree-selectable .ui-treenode-icon {
	 padding: 4px;
}*/

.nodoComponente ul li ul li.ui-treenode-leaf {
	height: 25px !important;
}

.nodoComponente ul li ul li span span.ui-treenode-label{
	padding: 4px !important;
}

/*
.ui-tree-container{
	margin-bottom: 12px;
	width: 100% !important;
	height: 275px;
	overflow: auto;
	display: block;
	padding-bottom: 20px;
}*/

.arbolTramites ul {
	height:100%;
}

#dialogScript\:arbol.ui-tree .ui-tree-container {
	height: 330px;
}

#dialogErroresValidacion {
	width: 1050px;
}