<!-- emplenar -->

<div class="imc-pas">

	<h3><span>{{txtEmplenarTitol}}</span></h3>

	<div class="imc--info">
		{{txtEmplenarInfo}}
	</div>

	<div class="imc--formularis" data-entorn="{{jsonEntorn}}" data-lectura="{{jsonSolsLectura}}">

		{{if formularis}}
		<ul>
			{{formularis}}
			<li data-completat="{{rellenado}}">
				<a href="#pas/{{pasID}}/formulari/{{id}}" data-id="{{id}}" data-url="" data-obligatori="{{obligatorio}}">
					<div class="imc--formulari"><span></span></div>
					{{if obligatorio|equals>s}}
					<div class="imc--tipus imc--ogligatori"><span></span></div>
					{{/if}}
					{{if obligatorio|equals>n}}
					<div class="imc--tipus imc--opcional"><span></span></div>
					{{/if}}
					{{if obligatorio|equals>d}}
					<div class="imc--tipus imc--depenent"><span></span></div>
					{{/if}}
					{{if rellenado|equals>c}}
					<div class="imc--estat imc--completat"><span></span></div>
					{{/if}}
					{{if rellenado|equals>v}}
					<div class="imc--estat imc--no-completat"><span></span></div>
					{{/if}}
					{{if rellenado|equals>i}}
					<div class="imc--estat imc--revisa"><span></span></div>
					{{/if}}
					<strong>{{titulo}}</strong>
				</a>
				{{if rellenado|equals>c}}
				<button type="button" class="imc--fo-pdf" title="{{txtFormulariEnPDF}}"><span>{{txtPDF}}</span></button>
				<button type="button" class="imc--fo-xml" title="{{txtFormulariEnXML}}"><span>{{txtXML}}</span></button>
				{{/if}}
			</li>
			{{/formularis}}
		</ul>
		{{/if}}

	</div>

	<div class="imc--icones">

		<h4><span>{{txtIcones}}</span></h4>

		<ul>
			<li>
				<div class="imc--tipus imc--ogligatori"><span>{{txtObligatori}}</span></div>
			</li>
			<li>
				<div class="imc--tipus imc--opcional"><span>{{txtOpcional}}</span></div>
			</li>
			<li>
				<div class="imc--tipus imc--revisa"><span>{{txtRevisa}}</span></div>
			</li>
			<li>
				<div class="imc--tipus imc--depenent"><span>{{txtDepenent}}</span></div>
			</li>
			<li>
				<div class="imc--estat imc--completat"><span>{{txtCompletat}}</span></div>
			</li>
			<li>
				<div class="imc--estat imc--no-completat"><span>{{txtNoCompletat}}</span></div>
			</li>
		</ul>

	</div>

	<nav class="imc--navegacio">

		<ul>
			<li>
				<a class="imc-bt imc--anterior" href=""><span>{{txtAnterior}}</span></a>
			</li>
			<li>
				<a class="imc-bt imc--seguent" href=""><span>{{txtSeguent}}</span></a>
			</li>
		</ul>

	</nav>

</div>

<!-- formulari -->
<div class="imc-formulari" id="imc-formulari" aria-hidden="true">
	<div class="imc--c">

		<!--<iframe id="imc-formulari-iframe" src="" scrolling="yes" frameborder="0"></iframe>-->

		<div class="imc--finestra">

			<div class="imc--marc">

				<div id="imc-forms-ajuda" class="imc--ajuda">
					<strong>{{txtAjudaActivada}}</strong>
					<button type="button" id="imc-bt-ajuda" class="imc-bt"><span>{{txtDesactivar}}</span></button>
				</div>

			</div>

			<h3><span></span></h3>

			<div class="imc--contingut imc-form">

			</div>

		</div>

	</div>
</div>
<!-- /formulari -->