<!-- pagar -->

<div class="imc-pas">

	<h3><span>{{txtPagarTitol}}</span></h3>

	<div class="imc--info">
		{{txtPagarInfo}}
	</div>

	<div class="imc--pagaments">

		{{if pagaments}}
		<ul>
			{{pagaments}}
			<li>
				<a href="{{url}}" data-id="{{id}}" data-url="{{url}}">
					<div class="imc--pagament"><span></span></div>
					{{if obligatorio|equals>s}}
					<div class="imc--tipus imc--ogligatori"><span></span></div>
					{{/if}}
					{{if obligatorio|equals>d}}
					<div class="imc--tipus imc--opcional"><span></span></div>
					{{/if}}
					{{if rellenado|equals>c}}
					<div class="imc--estat imc--completat"><span></span></div>
					{{/if}}
					{{if rellenado|equals>v}}
					<div class="imc--estat imc--no-completat"><span></span></div>
					{{/if}}
					<strong>{{titulo}}</strong>
				</a>
			</li>
			{{/pagaments}}
		</ul>
		{{/if}}

	</div>

	<div class="imc--icones">

		<h4><span>{{txtIcones}}</span></h4>

		<ul>
			<li>
				<div class="imc--tipus imc--ogligatori"><span>{{txtObligatori}}</span></div>
			</li>
			<li>
				<div class="imc--tipus imc--opcional"><span>{{txtOpcional}}</span></div>
			</li>
			<li>
				<div class="imc--estat imc--completat"><span>{{txtCompletat}}</span></div>
			</li>
			<li>
				<div class="imc--estat imc--no-completat"><span>{{txtNoCompletat}}</span></div>
			</li>
		</ul>

	</div>

	<nav class="imc--navegacio">

		<ul>
			<li>
				<a class="imc-bt imc--anterior" href=""><span>{{txtAnterior}}</span></a>
			</li>
			<li>
				<a class="imc-bt imc--seguent" href=""><span>{{txtSeguent}}</span></a>
			</li>
		</ul>

	</nav>

</div>