<!-- registrar -->

<div class="imc-pas">

	<h3><span>{{txtRegistrarTitol}}</span></h3>

	<div class="imc--info">
		
		<p>{{txtRegistrarInfo}}</p>
		<div class="imc--important">
			<p>{{txtRegistrarInfoImportant}}</p>
			{{if txtInstruccions}}
			<div class="imc--instruccions">
				{{txtInstruccions}}
			</div>
			{{/if}}
		</div>

	</div>

	<div class="imc--registre">

		<h4><span>{{txtInfoResum}}</span></h4>

		{{if formularis}}
		<h5><span>{{txtFormularis}}</span></h5>
		
		<ul>
			{{formularis}}
			<li class="imc--reg-doc" data-id="{{id}}" data-instancia="{{instancia}}" data-signa="{{firmar}}" data-descarrega="{{descargable}}">
				<div class="imc--reg imc--form">
					<span class="imc--icona"></span>
					<strong>{{titulo}}</strong>
					{{if descargable|equals>s}}
					<button type="button" class="imc--descarrega" title="{{txtDescarrega}}" data-tipus="formulari" data-es="document"><span>{{txtDescarrega}}</span></button>
					{{/if}}
				</div>

				{{if presentacion|equals>p}}
				<div class="imc--presentacio imc--presencial">Entrega presencial</div>
				{{/if}}

				{{if firmar|equals>s}}

					{{if firmas}}
					<div class="imc--signants">
						<p>{{if firmas|size|equals>1}}{{txtSignant}}{{else}}{{txtSignants}}{{/if}}:</p>
						<ul>
							{{firmas}}
							{{if estadoFirma|equals>n}}
							<li class="imc--per-signar" data-nif="{{firmante.nif}}">

								<strong>
									{{firmante.nombre}} ({{firmante.nif}})
								</strong>
								<button type="button" class="imc-bt imc--ico imc--signa" data-tipus="formulari"><span>{{txtSignar}}</span></button>

							</li>
							{{else}}
							<li class="imc--signat" data-nif="{{firmante.nif}}">

								<strong>
									{{firmante.nombre}} ({{firmante.nif}})
								</strong>
								<div class="imc--signatura-info">{{txtSignatEl}} {{fechaFirma}}</div>
								{{if descargable|equals>s}}
								<button type="button" class="imc-bt imc--ico imc--descarrega" title="{{txtDescarrega}} {{txtSignatura}}" data-tipus="formulari" data-es="signatura"><span>{{txtDescarrega}} {{txtSignatura|downcase}}</span></button>
								{{/if}}

							</li>
							{{/if}}

							{{/firmas}}
						</ul>
					</div>
					{{/if}}
				
				{{/if}}

			</li>
			{{/formularis}}
		</ul>
		{{/if}}

		{{if annexes}}
		<h5><span>{{txtAnnexes}}</span></h5>
		
		<ul>
			{{annexes}}
			<li class="imc--reg-doc" data-id="{{id}}" data-instancia="{{instancia}}" data-signa="{{firmar}}" data-descarrega="{{descargable}}">
				<div class="imc--reg imc--doc">
					<span class="imc--icona"></span>
					<strong>{{titulo}}</strong>
					{{if descargable|equals>s}}
					<button type="button" class="imc--descarrega" title="{{txtDescarrega}}" data-tipus="annexe" data-es="document"><span>{{txtDescarrega}}</span></button>
					{{/if}}
				</div>

				{{if presentacion|equals>p}}
				<div class="imc--presentacio imc--presencial">Entrega presencial</div>
				{{/if}}

				{{if firmar|equals>s}}

					{{if firmas}}
					<div class="imc--signants">
						<p>{{if firmas|size|equals>1}}{{txtSignant}}{{else}}{{txtSignants}}{{/if}}:</p>
						<ul>
							{{firmas}}
							{{if estadoFirma|equals>n}}
							<li class="imc--per-signar" data-nif="{{firmante.nif}}">

								<strong>
									{{firmante.nombre}} ({{firmante.nif}})
								</strong>
								<button type="button" class="imc-bt imc--ico imc--signa" data-tipus="formulari"><span>{{txtSignar}}</span></button>

							</li>
							{{else}}
							<li class="imc--signat" data-nif="{{firmante.nif}}">

								<strong>
									{{firmante.nombre}} ({{firmante.nif}})
								</strong>
								<div class="imc--signatura-info">{{txtSignatEl}} {{fechaFirma}}</div>
								{{if descargable|equals>s}}
								<button type="button" class="imc-bt imc--ico imc--descarrega" title="{{txtDescarrega}} {{txtSignatura}}" data-tipus="formulari" data-es="signatura"><span>{{txtDescarrega}} {{txtSignatura|downcase}}</span></button>
								{{/if}}

							</li>
							{{/if}}

							{{/firmas}}
						</ul>
					</div>
					{{/if}}
				
				{{/if}}

			</li>
			{{/annexes}}
		</ul>
		{{/if}}

		{{if pagaments}}
		<h5><span>{{txtPagaments}}</span></h5>
		
		<ul>
			{{pagaments}}
			<li class="imc--reg-doc" data-id="{{id}}" data-instancia="{{instancia}}" data-descarrega="{{descargable}}">
				<div class="imc--reg imc--pagament">
					<span class="imc--icona"></span>
					<strong>{{titulo}}</strong>
					{{if descargable|equals>s}}
					<button type="button" class="imc--descarrega" title="{{txtDescarrega}}" data-tipus="taxa" data-es="document"><span>{{txtDescarrega}}</span></button>
					{{/if}}
				</div>

				{{if presentacion|equals>p}}
				<div class="imc--presentacio imc--presencial">Entrega presencial</div>
				{{/if}}
				
			</li>
			{{/pagaments}}
		</ul>
		{{/if}}

		{{if txtLOPD}}
		<div class="imc--lopd">

			<h4><span>{{txtTitolLOPD}}</span></h4>

			<div class="imc--lopd-check">
				<label>
					<div class="imc-check">
						<input type="checkbox" name="imc--f-re-accepta" id="imc--f-re-accepta" />
						<span></span>
					</div>
					<span>{{txtAccepteLOPD}}</span>
				</label>.
				<button type="button" data-accio="lopd-obri"><span>{{txtTitolLOPD}}</span></button>
			</div>

		</div>
		{{/if}}

	</div>

	<nav class="imc--navegacio">

		<ul>
			<li>
				<a class="imc-bt imc--anterior" href="04_pas_pagar.html"><span>{{txtAnterior}}</span></a>
			</li>
			{{if reintentar|equals>s}}
			<li>
				<a class="imc-bt imc--reintentar" href="javascript:;" id="imc-bt-reintenta" data-accio="reintenta"><span>{{txtReintentar}}</span></a>
			</li>
			{{else}}
			{{if registrar|equals>s}}
			<li>
				<a class="imc-bt imc--registrar" href="javascript:;" id="imc-bt-registra" data-accio="registra"><span>{{txtRegistrar}}</span></a>
			</li>
			{{/if}}
			{{/if}}
		</ul>

	</nav>

</div>

<!-- signatura -->
<div class="imc-signatura" id="imc-signatura">
	<div class="imc--c">

		<button type="button" id="imc-bt-iframe-tanca"><span>{{txtPagamentTanca}}</span></button>

		<iframe id="imc-signatura-iframe" src="" scrolling="yes" frameborder="0"></iframe>

	</div>
</div>
<!-- /signatura -->

{{if txtLOPD}}
<div class="imc-popup--lopd" id="imc-popup--lopd" aria-hidden="true" tabindex="0">
	<div class="imc--c">

		<div class="imc--lopd-contingut">
			
			<button type="button" class="imc-bt-capa-tanca" data-accio="lopd-tanca"><span>{{txtTanca}}</span></button>

			<h2><span>{{txtTitolLOPD}}</span></h2>

			<p class="imc--intro">{{capLOPD}}</p>

			{{if campsLOPD}}
			<div class="imc--lopd-camps">
				{{campsLOPD}}

				<h3><span>{{titulo}}</span></h3>

				{{if enlace}}

				<p><a href="{{enlace}}"><span>{{texto}}</span></a></p>

				{{else}}

				<p>{{texto}}</p>

				{{/if}}

				{{/campsLOPD}}
			</div>
			{{/if}}

		</div>

	</div>
</div>
{{/if}}