<!-- pagar -->

<div class="imc-pas">

	<h3><span>{{txtPagarTitol}}</span></h3>

	<div class="imc--info">
		{{txtPagarInfo}}
	</div>

	<div class="imc--pagaments">

		{{if pagaments}}
		<ul>
			{{pagaments}}
			<li data-id="{{id}}" data-url="{{url}}" data-presentacions="{{presentacionesPermitidas|size}}">

				<div class="imc--pagament-fila">

					<a href="javascript:;">
						<div class="imc--pagament"><span></span></div>
						{{if obligatorio|equals>s}}
						<div class="imc--tipus imc--ogligatori"><span></span></div>
						{{/if}}
						{{if obligatorio|equals>d}}
						<div class="imc--tipus imc--opcional"><span></span></div>
						{{/if}}
						{{if rellenado|equals>c}}
						<div class="imc--estat imc--completat"><span></span></div>
						{{/if}}
						{{if rellenado|equals>v}}
						<div class="imc--estat imc--no-completat"><span></span></div>
						{{/if}}
						{{if rellenado|equals>i}}
						<div class="imc--estat imc--no-completat"><span></span></div>
						{{/if}}
						<strong>{{titulo}}</strong>
					</a>

					{{if presentacion|empty}}

						{{if presentacionesPermitidas|size|equals>2}}
						<button type="button" class="imc-bt imc--ico imc--pagament-presencial"><span>{{txtPresencial}}</span></button>
						<button type="button" class="imc-bt imc--ico imc--pagament-electronic"><span>{{txtElectronic}}</span></button>
						{{/if}}

						{{if presentacionesPermitidas|size|equals>1}}

							{{if presentacionesPermitidas.0|equals>p}}
							<button type="button" class="imc-bt imc--ico imc--pagament-presencial"><span>{{txtPresencial}}</span></button>
							{{/if}}
							{{if presentacionesPermitidas.0|equals>e}}
							<button type="button" class="imc-bt imc--ico imc--pagament-electronic"><span>{{txtElectronic}}</span></button>
							{{/if}}

						{{/if}}

					{{/if}}

				</div>

				<div class="imc--opcions">
				{{if presentacionesPermitidas}}

					{{if presentacionesPermitidas|size|equals>2}}
					<ul>
						<li>
							<label>
								<div class="imc-radio">
									<input type="radio" name="annexe_tipus" id="annexe_presencial" />
									<span></span>
								</div>
								<span>{{txtPresencial}}</span>
							</label>
						</li>
						<li>
							<label>
								<div class="imc-radio">
									<input type="radio" name="annexe_tipus" id="annexe_electronic" />
									<span></span>
								</div>
								<span>{{txtElectronic}}</span>
							</label>
						</li>
					</ul>
					{{/if}}

					{{if presentacionesPermitidas|size|equals>1}}

						{{if presentacionesPermitidas.0|equals>p}}
						<p>
							{{txtPresencial}}
						</p>
						{{/if}}
						{{if presentacionesPermitidas.0|equals>e}}
						<p>
							{{txtElectronic}}
						</p>
						{{/if}}

					{{/if}}

				{{/if}}
				</div>


			</li>
			{{/pagaments}}
		</ul>
		{{/if}}

	</div>

	<div class="imc--icones">

		<h4><span>{{txtIcones}}</span></h4>

		<ul>
			<li>
				<div class="imc--tipus imc--ogligatori"><span>{{txtObligatori}}</span></div>
			</li>
			<li>
				<div class="imc--tipus imc--opcional"><span>{{txtOpcional}}</span></div>
			</li>
			<li>
				<div class="imc--estat imc--completat"><span>{{txtCompletat}}</span></div>
			</li>
			<li>
				<div class="imc--estat imc--no-completat"><span>{{txtNoCompletat}}</span></div>
			</li>
		</ul>

	</div>

	<nav class="imc--navegacio">

		<ul>
			<li>
				<a class="imc-bt imc--anterior" href=""><span>{{txtAnterior}}</span></a>
			</li>
			<li>
				<a class="imc-bt imc--seguent" href=""><span>{{txtSeguent}}</span></a>
			</li>
		</ul>

	</nav>

</div>