<!-- annexar -->

<div class="imc-pas">

	<h3><span>{{txtAnnexarTitol}}</span></h3>

	{{if hiHaAnnexes|empty}}

	<div class="imc--important">
		<p>{{txtNoCalAnnexar}}</p>
	</div>

	{{else}}

	<div class="imc--info">
		{{txtAnnexarInfo}}
	</div>

	<div class="imc--annexes">

		<div class="imc--ann imc--e" aria-hidden="true">

			<h4><span>{{txtElectronicament}}</span></h4>

			<p>{{txtElectronicamentInfo}}</p>

			{{if annexes}}
			<ul>
				{{annexes}}
				{{if presentacion|equals>e}}
				<li class="imc--doc-li" data-id="{{id}}" data-omplit="{{rellenado}}" data-tipus="{{presentacion}}" data-num="{{maxInstancias}}" data-extensions="{{extensiones}}" data-mida="{{tamMax}}" data-ajuda="{{ayuda|escapa}}" data-obligatori="{{obligatorio}}">

					<div class="imc--doc-fila">

						<a href="javascript:;" class="imc--doc-obri" aria-haspopup="true">

							<div class="imc--doc"><span></span></div>

							{{if obligatorio|equals>s}}
							<div class="imc--tipus imc--ogligatori"><span></span></div>
							{{/if}}
							{{if obligatorio|equals>n}}
							<div class="imc--tipus imc--opcional"><span></span></div>
							{{/if}}
							{{if rellenado|equals>c}}
							<div class="imc--estat imc--completat"><span></span></div>
							{{/if}}
							{{if rellenado|equals>v}}
							<div class="imc--estat imc--no-completat"><span></span></div>
							{{/if}}

							<strong>{{titulo|nomesText}}</strong>

						</a>

						{{if plantilla}}
						{{if plantilla.tipo|equals>i}}
							<button data-tipus="{{plantilla.tipo}}" type="button" class="imc-bt imc--ico imc--descarrega-plantilla imc--plantilla"><span>{{txtPlantilla}}</span></button>
						{{else}}
							<a data-tipus="{{plantilla.tipo}}" href="{{plantilla.url}}" class="imc--finestra-nova imc--plantilla" title="{{txtObriFinestra}}" target="_blank"><span>{{txtPlantilla}}</span></a>
						{{/if}}
						{{/if}}

					</div>

					<div class="imc--opcions" data-extensions="{{extensiones}}" data-mida="{{tamMax}}" data-num="{{maxInstancias}}">
						{{if maxInstancias|more>1}}
							<span class="imc--instancies">{{txtDocumentsInstancies}} <strong>{{maxInstancias}}</strong> {{txtDocumentsInstancies2}}.</span>
						{{/if}}
						{{if extensiones|notempty}}
							<span class="imc--extensions">{{txtDocumentsAccept}} <strong>{{extensiones}}</strong>.</span>
						{{/if}}
						{{if tamMax|notempty}}
							<span class="imc--mida-max">{{txtMidaMaxima}} <strong>{{tamMax}}</strong>.</span>
						{{/if}}
					</div>

					{{if anexarfirmado|equals>s}}
					<div class="imc--signatures">

						<p class="imc--ann-signat">{{if firmar|equals>s}}{{txtSignatOpcional}}{{else}}{{txtSignatObligatori}}{{/if}}</p>

						{{if firmantes}}
						<div class="imc--signants">
							<p>{{if firmantes|size|equals>1}}{{txtSignant}}{{else}}{{txtSignants}}{{/if}}:</p>
							<ul>
								{{firmantes}}

								<li class="imc--signant" data-nif="{{nif}}" data-obligatorietat="{{obligatorio}}" aria-label="{{if obligatorio|equals>s}}{{txtSignaturaOgligatoria}}{{else}}{{txtSignaturaOpcional}}{{/if}}">

									<strong>
										{{nombre}} ({{nif}})
									</strong>

								</li>

								{{/firmantes}}
							</ul>
						</div>
						{{/if}}


					</div>
					{{/if}}

					<div class="imc--annexats">
					{{if ficheros}}

						{{if maxInstancias|equals>1}}
						<p>{{txtDocAnnexat}}:</p>
						{{else}}
						<p>{{txtDocsAnnexats}}:</p>
						{{/if}}

						<ul>
							{{ficheros}}
							<li>
								<strong data-id="{{##}}" data-fitxer="{{fichero}}">{{if titulo}}{{titulo}}{{else}}{{fichero}}{{/if}}</strong>
								<button data-id="{{##}}" type="button" class="imc-bt imc--ico imc--descarrega" title="{{txtDescarrega}}"><span>{{txtDescarrega}}</span></button>
								<button data-id="{{##}}" type="button" class="imc-bt imc--ico imc--esborra" title="{{txtEsborra}}" aria-haspopup="true"><span>{{txtEsborra}}</span></button>
							</li>
							{{/ficheros}}
						</ul>

					{{/if}}
					</div>

				</li>
				{{/if}}
				{{/annexes}}
			</ul>
			{{/if}}

		</div>

		<div class="imc--ann imc--p" aria-hidden="true">

			<h4><span>{{txtPresencialment}}</span></h4>

			<p>{{txtPresencialmentInfo}}</p>

			{{if annexesPresencials}}
			<ul>
				{{annexesPresencials}}
				{{if presentacion|equals>p}}
				<li class="imc--doc-li" data-id="{{id}}" data-omplit="{{rellenado}}" data-tipus="{{presentacion}}" data-num="{{maxInstancias}}" data-extensions="{{extensiones}}" data-mida="{{tamMax}}" data-ajuda="{{ayuda|escapa}}" data-obligatori="{{obligatorio}}">

					<div class="imc--doc-fila">

						<a href="javascript:;" class="imc--doc-obri" aria-haspopup="true">

							<div class="imc--doc imc--presencial"><span></span></div>

							{{if obligatorio|equals>s}}
							<div class="imc--tipus imc--ogligatori"><span></span></div>
							{{/if}}
							{{if obligatorio|equals>n}}
							<div class="imc--tipus imc--opcional"><span></span></div>
							{{/if}}
							{{if rellenado|equals>c}}
							<div class="imc--estat imc--completat"><span></span></div>
							{{/if}}
							{{if rellenado|equals>v}}
							<div class="imc--estat imc--no-completat"><span></span></div>
							{{/if}}

							<strong>{{titulo|nomesText}}</strong>

						</a>

						{{if plantilla}}
						{{if plantilla.tipo|equals>i}}
							<button data-tipus="{{plantilla.tipo}}" data-id="{{id}}" type="button" class="imc-bt imc--ico imc--descarrega-plantilla imc--plantilla"><span>{{txtPlantilla}}</span></button>
						{{else}}
							<a data-tipus="{{plantilla.tipo}}" href="{{plantilla.url}}" class="imc--finestra-nova imc--plantilla" title="{{txtObriFinestra}}" target="_blank"><span>{{txtPlantilla}}</span></a>
						{{/if}}
						{{/if}}

					</div>

				</li>
				{{/if}}
				{{/annexesPresencials}}
			</ul>
			{{/if}}

		</div>

	</div>

	<div class="imc--icones">

		<h4><span>{{txtIcones}}</span></h4>

		<ul>
			<li>
				<div class="imc--tipus imc--ogligatori"><span>{{txtObligatori}}</span></div>
			</li>
			<li>
				<div class="imc--tipus imc--opcional"><span>{{txtOpcional}}</span></div>
			</li>
			<li>
				<div class="imc--estat imc--completat"><span>{{txtCompletat}}</span></div>
			</li>
			<li>
				<div class="imc--estat imc--no-completat"><span>{{txtNoCompletat}}</span></div>
			</li>
		</ul>

	</div>
	{{/if}}

	<nav class="imc--navegacio">

		<ul>
			<li>
				<a class="imc-bt imc--anterior" href=""><span>{{txtAnterior}}</span></a>
			</li>
			<li>
				<a class="imc-bt imc--seguent" href=""><span>{{txtSeguent}}</span></a>
			</li>
		</ul>

	</nav>

</div>


{{if hiHaAnnexes}}
<!-- document -->
<div class="imc-document" id="imc-document" aria-hidden="true" tabindex="0" role="alertdialog" aria-live="polite">
	<div class="imc--c">

		<button type="button" id="imc-bt-iframe-tanca" class="imc-bt-capa-tanca"><span>{{txtTanca}}</span></button>

		<div id="imc-document-contingut" class="imc-document-contingut">

			<h2><span></span></h2>

			<div class="imc--doc-info"></div>

			<div class="imc--doc imc--doc-electronic">

				<form action="" method="post">

					<div class="imc-input-annex">

						<div class="imc--titol">
							<label for="imc--annexa-f-titol">{{txtTitol}}</label>
							<input type="text" name="imc--annexa-f-titol" id="imc--annexa-f-titol" />
						</div>

						<div class="imc--arxiu">

							<input id="f_form_co_arxiu" name="f_form_co_arxiu" type="file" />
							<a class="imc-bt imc-bt-text imc-bt-anexa" href="javascript:;"><span>{{txtAnnexSelecciona}}</span></a>

							<div class="imc--arxiu-annexat">
								<p></p>
								<button type="button" class="imc-bt-elimina" title="{{txtElimina}}"><span>{{txtElimina}}</span></button>
							</div>

						</div>

					</div>

					<ul class="imc--botonera">
						<li>
							<button type="button" class="imc-bt imc--cancela" data-tipus="cancela"><span>{{txtCancela}}</span></button>
						</li>
						<li>
							<button type="submit" class="imc-bt imc--ico imc--principal" data-tipus="envia"><span>{{txtEnviar}}</span></button>
						</li>
					</ul>

				</form>

			</div>

			<div class="imc--doc imc--doc-presencial">

				<form action="" method="post">

					<label>
						<div class="imc-check">
							<input type="checkbox" name="anexo_presencial" id="anexo_presencial" />
							<span></span>
						</div>
						<span>{{txtSiAportare}}</span>
					</label>

					<ul class="imc--botonera">
						<li>
							<button type="button" class="imc-bt imc--cancela" data-tipus="cancela"><span>{{txtCancela}}</span></button>
						</li>
						<li>
							<button type="submit" class="imc-bt imc--ico imc--principal" data-tipus="desa"><span>{{txtDesa}}</span></button>
						</li>
					</ul>

				</form>

			</div>

			<div class="imc--doc imc--doc-missatge">

				<h2><span>{{txtEnviantDades}}</span></h2>

				<div></div>

				<ul class="imc--botonera">
					<li>
						<button type="button" class="imc-bt imc--ico imc--torna imc--error-torna" data-tipus="torna"><span>{{txtTornaIntentar}}</span></button>
					</li>
					<li>
						<button type="button" class="imc-bt imc--tanca" data-tipus="tanca"><span>{{txtTanca}}</span></button>
					</li>
					<li>
						<button type="button" class="imc-bt imc--cancela" data-tipus="cancela"><span>{{txtCancelaEnviament}}</span></button>
					</li>
				</ul>

			</div>

		</div>

	</div>
</div>
<!-- /document -->
{{/if}}