<!-- pagar -->

<div class="imc-pas">

	<h3><span>{{txtPagarTitol}}</span></h3>

	{{if pagaments}}
	<div class="imc--info">
		{{txtPagarInfo}}
	</div>

	<div class="imc--pagaments">
		
		<ul>
			{{pagaments}}
			<li data-id="{{id}}" data-presentacions="{{presentacionesPermitidas|size}}">

				<div class="imc--pagament-fila">

					<a href="javascript:;">
						<div class="imc--pagament"><span></span></div>
						{{if obligatorio|equals>s}}
						<div class="imc--tipus imc--ogligatori"><span></span></div>
						{{/if}}
						{{if obligatorio|equals>d}}
						<div class="imc--tipus imc--opcional"><span></span></div>
						{{/if}}
						{{if rellenado|equals>c}}
						<div class="imc--estat imc--completat"><span></span></div>
						{{/if}}
						{{if rellenado|equals>v}}
						<div class="imc--estat imc--no-completat"><span></span></div>
						{{/if}}
						{{if rellenado|equals>i}}
						<div class="imc--estat imc--no-completat"><span></span></div>
						{{/if}}
						<strong>{{titulo}}</strong>
					</a>

					{{if presentacion|empty}}

						{{if presentacionesPermitidas|size|equals>2}}
						<button type="button" class="imc-bt imc--ico imc--pagament-presencial"><span>{{txtPresencial}}</span></button>
						<button type="button" class="imc-bt imc--ico imc--pagament-electronic"><span>{{txtElectronic}}</span></button>
						{{/if}}

						{{if presentacionesPermitidas|size|equals>1}}

							{{if presentacionesPermitidas.0|equals>p}}
							<button type="button" class="imc-bt imc--ico imc--pagament-presencial"><span>{{txtPresencial}}</span></button>
							{{/if}}
							{{if presentacionesPermitidas.0|equals>e}}
							<button type="button" class="imc-bt imc--ico imc--pagament-electronic"><span>{{txtElectronic}}</span></button>
							{{/if}}

						{{/if}}

					{{/if}}

				</div>

				{{if presentacion|notempty}}

				<div class="imc--opcions">

					{{if presentacion|equals>p}}

						<p class="imc--presentacio imc--presencial">
							{{txtPresencial}}
							{{if estadoIncorrecto.estado|notempty}}
							<span class="imc--error-{{estadoIncorrecto.estado}}">{{estadoIncorrecto.mensaje}}</span>
							{{/if}}
						</p>

						{{if estadoIncorrecto.estado|empty}}
						<button type="button" class="imc-bt imc--ico imc--plantilla-pagament"><span>{{txtPlantillaPagament}}</span></button>
						<button type="button" class="imc-bt imc--ico imc--descartar-pagament"><span>{{txtDescargarPagament}}</span></button>
						{{/if}}

						{{if estadoIncorrecto.estado|equals>i}}
						<button type="button" class="imc-bt imc--ico imc--revisar-pagament"><span>{{txtRevisarPagament}}</span></button>
						{{/if}}

						{{if estadoIncorrecto.estado|equals>x}}
						<button type="button" class="imc-bt imc--ico imc--descartar-pagament"><span>{{txtDescargarPagament}}</span></button>
						{{/if}}

					{{/if}}

					{{if presentacion|equals>e}}

						<p class="imc--presentacio imc--electronic">
							{{txtElectronic}}
							{{if estadoIncorrecto.estado|notempty}}
							<span class="imc--error-{{estadoIncorrecto.estado}}">{{estadoIncorrecto.mensaje}}</span>
							{{/if}}
						</p>

						{{if estadoIncorrecto.estado|empty}}
						<button type="button" class="imc-bt imc--ico imc--justificant-pagament"><span>{{txtJustificantPagament}}</span></button>
						{{/if}}

						{{if estadoIncorrecto.estado|equals>i}}
						<button type="button" class="imc-bt imc--ico imc--revisar-pagament"><span>{{txtRevisarPagament}}</span></button>
						{{/if}}

						{{if estadoIncorrecto.estado|equals>x}}
						<button type="button" class="imc-bt imc--ico imc--descartar-pagament"><span>{{txtDescargarPagament}}</span></button>
						{{/if}}

					{{/if}}
				</div>

				{{/if}}

			</li>
			{{/pagaments}}
		</ul>

	</div>

	<div class="imc--icones">

		<h4><span>{{txtIcones}}</span></h4>

		<ul>
			<li>
				<div class="imc--tipus imc--ogligatori"><span>{{txtObligatori}}</span></div>
			</li>
			<li>
				<div class="imc--tipus imc--opcional"><span>{{txtOpcional}}</span></div>
			</li>
			<li>
				<div class="imc--estat imc--completat"><span>{{txtCompletat}}</span></div>
			</li>
			<li>
				<div class="imc--estat imc--no-completat"><span>{{txtNoCompletat}}</span></div>
			</li>
		</ul>

	</div>

	{{else}}

	<div class="imc--important">
		{{txtCapPagament}}
	</div>

	{{/if}}

	<nav class="imc--navegacio">

		<ul>
			<li>
				<a class="imc-bt imc--anterior" href=""><span>{{txtAnterior}}</span></a>
			</li>
			<li>
				<a class="imc-bt imc--seguent" href=""><span>{{txtSeguent}}</span></a>
			</li>
		</ul>

	</nav>

</div>

<!-- pagament -->
<div class="imc-pagament" id="imc-pagament">
	<div class="imc--c">

		<button type="button" id="imc-bt-iframe-tanca"><span>{{txtPagamentTanca}}</span></button>

		<iframe id="imc-pagament-iframe" src="" scrolling="yes" frameborder="0"></iframe>

	</div>
</div>
<!-- /pagament -->