<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	      version="2.5">
	      
  <display-name>sistramit-frontend</display-name>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/${ac.server.context}
    			 /WEB-INF/sistramit-ac-frontend.xml
    </param-value>
  </context-param>

  <filter>
    <filter-name>CharacterEncoding</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncoding</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>sistramit-frontend</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>sistramit-frontend</servlet-name>
      <url-pattern>*.html</url-pattern>
  </servlet-mapping>
  
  <security-constraint>
	    <web-resource-collection>
	        <web-resource-name>sistramit-frontend</web-resource-name>
	        <url-pattern>/*</url-pattern>
	    </web-resource-collection>
	    <auth-constraint>
	        <role-name>STR2_TEST</role-name>
	    </auth-constraint>
	</security-constraint>

	<login-config><auth-method>BASIC</auth-method><realm-name><![CDATA[Autenticacion]]></realm-name></login-config>
	 
	 <security-role>
	    <role-name>STR2_TEST</role-name>
	</security-role>
  
</web-app>