/* Document CSS */



.imc--accessibilitat-llistat { position: absolute; z-index: 3; top: 100%; right: 0; padding: .5em 1em; background-color: #fff; box-shadow: 0 0 .5em .2em rgba(0, 0, 0, 0.2); }

.imc--accessibilitat-llistat[aria-hidden="true"] { display: none; }

.imc--accessibilitat-llistat li { padding-bottom: .2em; }
.imc--accessibilitat-llistat li a { display: block; padding: .2em .5em; }







/* mostra accessibilitat */

.imc-contenidor.imc--mostra-acc .imc-tramitacio .imc--elimina,
.imc-contenidor.imc--mostra-acc .imc-molla-pa,
.imc-contenidor.imc--mostra-acc .imc-pas,
.imc-contenidor .imc-accessibilitat { display: none; }

.imc-contenidor.imc--mostra-acc .imc-accessibilitat { display: block; }


/* accessibilitat */

.imc-acc { margin-bottom: 2.5em; }

.imc-bt.imc-bt--torna { position: fixed; z-index: 2; left: 50%; transform: translate(-50%, -1.5em); }

.imc-bt.imc-bt--torna::before { background: transparent url(forms/imgs/ico_enrere.svg) no-repeat center center / auto 1em; opacity: .4; }

.imc-acc h3 {  margin-bottom: 0; }

.imc-acc h4 { font-size: 1.2em; text-transform: uppercase; margin-top: 1.5em; margin-bottom: .3em; }

.imc-acc > ul { padding-left: 1.5em; margin-top: 1em; }
.imc-acc > ul > li { position: relative; margin-bottom: 1.5em; }

.imc-acc p { margin-top: 1em; }

.imc-acc-form { text-align: center; padding: 1.5em; margin-top: 1em; background-color: #fff; }
.imc-acc-form li { display: inline; list-style: none; padding-right: 2em; }
.imc-acc-form li label { cursor: pointer; }



/* media */

@media only screen and (max-width : 450px) {

	.imc-bt.imc-bt--torna {
		position: absolute; left: inherit; right: .5em; transform: translate(0, -0.1em);
	}

	.imc-bt.imc-bt--torna::before {
		margin-right: .4em;
	}

}
