/* Document CSS */


/* formularis */

.imc--formularis a {
	display: block;
	position: relative;
	height: 3em;
}

.imc--formularis a .imc--formulari {
	position: absolute;
	top: 0;
	left: 0;
	width: 3em;
	height: 100%;
}

.imc--formularis a .imc--tipus {
	position: absolute;
	top: 0;
	left: 3em;
	width: 1.5em;
	height: 1.5em;
}

.imc--formularis a .imc--estat {
	position: absolute;
	top: 1.5em;
	left: 3em;
	width: 1.5em;
	height: 1.5em;
}

.imc--formularis a strong {
	position: absolute;
	top: 0;
	left: 5em;
	width: calc(100% - 5em);
	height: 3em;
}