/* Document CSS */

/* cal saber */

.imc--info p { margin-bottom: 1em; }

.imc--important p:last-child { margin-bottom: 0; }

.imc--fi-termini { padding: .8em 1.5em .8em 4em; margin: 1em 0; background: transparent url(imgs/icones/ico_calendari_ff9c32.svg) no-repeat 1.2em .6em / auto 1.5em; border: 2px solid #ff9c32; }
.imc--fi-termini p:last-child { margin-bottom: 0; }

.imc--explicacio-detallada { padding: 1em 2em; background-color: #fff; }
.imc--explicacio-detallada > p { display: flex; align-items: center; margin-bottom: 0; }
.imc--explicacio-detallada > p button { margin-left: 1em; }
.imc--explicacio-detallada ul { display: none; margin-top: 1em; }

.imc--e-d ul .imc--num { float: left; font-size: 2em; width: 1em; color: #575353; text-align: right; line-height: 1em; }
.imc--e-d ul .imc--nom { display: block; font-weight: bold; padding-top: .7em; padding-bottom: .1em; padding-left: 2.5em; }
.imc--e-d ul p { display: block; padding-left: 2.3em; }

.imc--lopd h4 { padding-top: 1.5em; margin-bottom: 1em; }
.imc--lopd h4 span { font-size: 1.2em; }

.imc--lopd h5 { margin-top: 1em; margin-bottom: .3em; }
.imc--lopd h5 span { font-size: 1.1em; }




/* media */

@media only screen and (max-width : 450px) {

	.imc--fi-termini {
		padding: .8em 1.5em .8em 3em;
		background-position: .8em .6em;
	}

	.imc--explicacio-detallada {
		padding: 1em 1em;
	}

}
