/* Document CSS */

/* registrar */

.imc--registre h4 { margin-bottom: 1.5em; }
.imc--registre h4 span { font-size: 1.2em; }

.imc--registre h5 { margin-bottom: .5em; }
.imc--registre h5 span { font-size: 1.2em; font-weight: normal; }

.imc--registre > ul { margin-bottom: 1.4em; }
.imc--registre > ul > li { padding-left: 2em; margin-bottom: .8em; }
.imc--registre > ul div.imc--reg { display: grid; grid-auto-flow: column; grid-template-columns: 3em auto 4em; grid-column-gap: 0; grid-row-gap: 0; min-height: 2.5em; padding: 0; background-color: #fff; }

.imc--registre > ul div[data-signa="n"] { grid-template-columns: 3em auto 4em; }

.imc--registre > ul div.imc--reg .imc--icona { display: block; background: #8c8c8c url() no-repeat center center / auto 1em; }

.imc--registre > ul div.imc--form .imc--icona { background-image: url(imgs/icones/ico_form.svg); }
.imc--registre > ul div.imc--doc .imc--icona { background-image: url(imgs/icones/ico_doc.svg); }
.imc--registre > ul div.imc--pagament .imc--icona { background-image: url(imgs/icones/ico_pagar.svg); }

.imc--registre > ul div.imc--reg strong { align-self: center; font-size: 1.2em; font-weight: normal; padding: .2em 1em; }

.imc--registre .imc--descarrega { background: #4dba79 url(imgs/icones/ico_descarrega.svg) no-repeat center center / auto 1em; }
.imc--registre .imc--descarrega span { position: absolute; top: -999em; left: -999em; }

.imc--registre .imc--descarrega:hover,
.imc--registre .imc--descarrega:focus { background-color: #368355; }

.imc--registre .imc--signa { background-color: #265d3c; }
.imc--registre .imc--signa span { color: #fff; }

.imc--registre .imc--signa:hover,
.imc--registre .imc--signa:focus { background-color: #000; }

.imc--registre .imc--signa::before { background-image: url(imgs/icones/ico_signar.svg); }

.imc--registre ul div.imc--pagament { grid-template-columns: 3em auto 4em; }

.imc--registre .imc--signants { width: calc(100% - 3.3em); padding: .2em 0 .2em 0; margin-left: 3.3em; }

.imc--registre .imc--signants p { font-size: 1em; padding: 0 1em; }

.imc--registre .imc--signants ul { font-size: 1em; padding: 0 0 0 1em; }

.imc--registre .imc--signants li { display: flex; align-items: center; min-height: 2em; margin-top: .3em; border: 1px solid #fff; }

.imc--registre .imc--signants li::before { content: ""; display: block; width: 2em; height: 2em; background: #006300 url(imgs/icones/ico_correcte.svg) no-repeat center center / auto .9em; }

.imc--registre .imc--signants li.imc--per-signar::before { background: #f00 url(imgs/icones/ico_errat.svg) no-repeat center center / auto .7em; }

.imc--registre .imc--signants li strong { display: inline-block; padding: .3em 1em; }

.imc--registre .imc--signants li.imc--per-signar strong { width: calc(100% - 2em - 5.2em); }

.imc--registre .imc--signants li .imc-bt.imc--ico::before { margin-right: .5em; }

.imc--registre .imc--signants li .imc--registre .imc--signa { width: 5.2em; }


.imc--pagaments .imc--opcions { display: flex; align-items: center; width: calc(100% - 4.5em); margin-left: 4.5em; background-color: #dbdbdb; }

.imc--registre div.imc--presentacio {  width: calc(100% - 3em); font-size: 1em; padding: .5em 1em; margin-left: 3em; background-color: #dbdbdb; }

.imc--registre div.imc--presentacio::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -0.1em;
    width: 1em;
    height: 1em;
    margin-right: .3em;
    background: transparent url() no-repeat center center / 100% auto;
    opacity: .5;
}

.imc--registre div.imc--presentacio.imc--presencial::before {
    background-image: url(imgs/icones/ico_presencial_000.svg);
}

.imc--registre div.imc--presentacio.imc--electronic::before {
    background-image: url(imgs/icones/ico_electronic_000.svg);
}


/* botonera */

nav.imc--navegacio .imc-bt.imc--reintentar { background-color: #ff0000; }
nav.imc--navegacio .imc-bt.imc--reintentar::before { background-image: url(imgs/icones/ico_reintenta.svg); background-size: auto 1em; }

nav.imc--navegacio .imc-bt.imc--reintentar:hover,
nav.imc--navegacio .imc-bt.imc--reintentar:focus {
    background-color: #000;
}


/* iframe */

.imc-signatura { position: fixed; z-index: -1; top: 0; left: 0; width: 100%; height: 100%; visibility: hidden; opacity: 0; }
.imc-signatura .imc--c { position: fixed; z-index: 11; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.7); }

.imc-signatura.imc--on {
    z-index: 10;
    visibility: visible;
    opacity: 1;
    -webkit-transition: visibility 0 ease-out, opacity .3s ease-out;
    -moz-transition: visibility 0 ease-out, opacity .3s ease-out;
    -ms-transition: visibility 0 ease-out, opacity .3s ease-out;
    -o-transition: visibility 0 ease-out, opacity .3s ease-out;
    transition: visibility 0 ease-out, opacity .3s ease-out;
}

.imc-signatura.imc--off {
    z-index: 10;
    opacity: 0;
    -webkit-transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -ms-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
}

.imc-signatura button { display: none; }

.imc-signatura iframe { position: fixed; z-index: 12; top: 50%; left: 50%; width: 100%; max-width: 70em; height: 100%; max-height: 50em; background-color: #fff; transform: translate(-50%, -50%); visibility: hidden; opacity: 0; }

.imc-signatura iframe.imc--on {
    visibility: visible;
    opacity: 1;
    -webkit-transition: visibility 0 ease-out, opacity .3s ease-out;
    -moz-transition: visibility 0 ease-out, opacity .3s ease-out;
    -ms-transition: visibility 0 ease-out, opacity .3s ease-out;
    -o-transition: visibility 0 ease-out, opacity .3s ease-out;
    transition: visibility 0 ease-out, opacity .3s ease-out;
}

.imc-ico-anim { position: fixed; z-index: 13; background: #8c8c8c url(imgs/icones/ico_signar.svg) no-repeat center center / auto 1.4em; }

.imc-ico-anim.imc--off {
    opacity: 0;
    -webkit-transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -ms-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
}

.imc--centra { transform: translate(-50%, -50%); }

.imc-ico-carrega { position: fixed; z-index: 12; top: 50%; left: 50%; width: 8em; height: 8em; border:1em solid transparent; border-top-color:#fff; border-bottom-color:#fff; border-radius: 50%; opacity: 0; transform: translate(-50%, -50%) rotate(0deg); transform-origin: center; }

.imc-ico-carrega-on {
    opacity: 1;
    -webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -ms-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
}

.imc-ico-carrega {
    -moz-animation-name: carregantFormulari;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -webkit-animation-name: carregantFormulari;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -o-animation-name: carregantFormulari;
    -o-animation-duration: 1s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
    animation-name: carregantFormulari;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-moz-keyframes carregantFormulari {
    0% { -moz-transform: translate(-50%, -50%) rotate(0deg);  }
    100% { -moz-transform: translate(-50%, -50%) rotate(360deg);  }
}
@-webkit-keyframes carregantFormulari {
    0% { -webkit-transform: translate(-50%, -50%) rotate(0deg);  }
    100% { -webkit-transform: translate(-50%, -50%) rotate(360deg);  }
}
@-o-keyframes carregantFormulari {
    0% { -o-transform: translate(-50%, -50%) rotate(0deg);  }
    100% { -o-transform: translate(-50%, -50%) rotate(360deg); }
}
@keyframes carregantFormulari {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.imc-ico-carrega-text { position: fixed; z-index: 12; top: 50%; left: 50%; width: 12em; height: 14em; color: #fff; text-align: center; transform: translate(-50%, -50%); }

html.imc--sense-scroll,
body.imc--sense-scroll { overflow: hidden; }