/* Document CSS */

/* molla pa */

.imc-molla-pa li { color: #999; }

/* finalitza */

.imc-contingut h3 { margin-top: 1.5em; }

.imc--finalitza h4 { margin-bottom: .5em; }
.imc--finalitza h4 span { font-size: 1.2em; }

.imc--finalitza h5 { margin-bottom: .5em; }
.imc--finalitza h5 span { font-size: 1.2em; font-weight: normal; }

.imc--finalitza p { margin-bottom: 1em; }

.imc--finalitza p.imc--fi-bt { text-align: center; margin-bottom: 2em; }
.imc--finalitza p.imc--fi-bt button { font-size: 1.5em; }

.imc--finalitza p.imc--fi-bt button.imc-bt { background-color: #265d3c; }
.imc--finalitza p.imc--fi-bt button.imc-bt span { color: #fff; }

.imc--finalitza p.imc--fi-bt button.imc-bt:hover,
.imc--finalitza p.imc--fi-bt button.imc-bt:focus { background-color: #000; }

.imc--finalitza p.imc--fi-bt button.imc-bt::before { background-image: url(../imgs/icones/ico_desau.svg); background-size: auto 1em; }

.imc--finalitza ul { margin-bottom: 1em; }
.imc--finalitza ul li { padding-left: 2em; }
.imc--finalitza ul div { display: grid; grid-auto-flow: column; grid-template-columns: 3em auto 4em; grid-column-gap: 0; grid-row-gap: 0; padding: 0; background-color: #fff; }

.imc--finalitza ul div .imc--icona { display: block; background: #8c8c8c url() no-repeat center center / auto 1em; }

.imc--finalitza ul div.imc--form .imc--icona { background-image: url(../imgs/icones/ico_form.svg); }
.imc--finalitza ul div.imc--doc .imc--icona { background-image: url(../imgs/icones/ico_doc.svg); }
.imc--finalitza ul div.imc--pagament .imc--icona { background-image: url(../imgs/icones/ico_pagar.svg); }

.imc--finalitza ul div strong { align-self: center; font-size: 1.2em; font-weight: normal; padding: .2em 1em; }

.imc--finalitza ul div .imc--descarrega { background: #4dba79 url(../imgs/icones/ico_descarrega.svg) no-repeat center center / auto 1em; }
.imc--finalitza ul div .imc--descarrega span { position: absolute; top: -999em; left: -999em; }

.imc--finalitza ul div .imc--descarrega:hover,
.imc--finalitza ul div .imc--descarrega:focus { background-color: #368355; }

.imc--finalitza ul div .imc--signa { background-color: #cc073c; }
.imc--finalitza ul div .imc--signa span { color: #fff; }

.imc--finalitza ul div .imc--signa:hover,
.imc--finalitza ul div .imc--signa:focus { background-color: #000; }

.imc--finalitza ul div .imc--signa::before { background-image: url(../imgs/icones/ico_signar.svg); }

/* navegació */

nav .imc-bt.imc--sortir::before { background-image: url(../imgs/icones/ico_sortiu.svg); background-size: auto 1.5em; transform: rotate(180deg); }
